{#
/**
 * @file
 * Template for module completion page.
 *
 * Available variables:
 * - module_title: The title of the completed module.
 * - next_module_url: URL to the next module (if available).
 * - has_next_module: Boolean indicating if there's a next module.
 */
#}
<div class="module-completion">
	{% if has_next_module %}
		<a href="/dashboard" class="button button--secondary button--return">{{ 'Home'|t }}</a>
		<a href="{{ next_module_url }}" class="button button--primary button--next module-completion__button">
			{{ 'Continue to Next Section'|t }}
		</a>
	{% else %}
		<div class="module-completion__actions">
			<h2>{{ 'Review Your Responses'|t }}</h2>
			<p>{{ 'You have completed all sections.'|t }}</p>
		</div>
	{% endif %}
</div>
