{#
/**
 * @file
 * Dashboard template for webform client manager.
 *
 * Available variables:
 * - client_name: The name of the client.
 * - modules_view: Rendered view of modules.
 * - total_modules: Total number of modules.
 * - completed_modules: Number of completed modules.
 * - progress_percentage: Completion percentage.
 */
#}
<div class="webform-client-dashboard">
  <div class="dashboard-header">
    {% if client_name %}
      <p class="dashboard-subtitle">{{ client_name }}</p>
    {% endif %}
  </div>

  <h2>Modules</h2>

  <div class="dashboard-progress">
    <div class="progress-info">
      <span class="progress-text">{{ 'Your Progress'|t }}</span>
      <span class="progress-count">{{ completed_modules }} / {{ total_modules }} {{ 'modules completed'|t }}</span>
    </div>
    <div class="progress-bar">
      <div class="progress-bar-fill" style="width: {{ progress_percentage }}%"></div>
    </div>
    <span class="progress-percentage">{{ progress_percentage }}%</span>
  </div>

  <div class="dashboard-modules">
    {{ modules_view }}
  </div>
</div>
